<div class="container">
  <div class="row">
    <%= render 'books/info2', user: @user, book: @book %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image(100,100) %></td>

              <td>
                <%= link_to book_path(params[:id]) do %>
                  <%= @book.title %>
                <% end %>
              </td>
            <td><%= @book.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
