<div class="col-md-3">
  <h2>User info</h2>
  <table class="table">
    <%= image_tag user.get_profile_image(100,100) %>
    <tbody>
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <a href="/users/:id/edit"><button type="button" class="btn btn-outline-secondary"><i class="fas fa-user-cog"></i></button></a>
  <div>
    <h1>New book</h1>
    <%= form_with model: book do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :body %><br>
      <%= f.submit 'Create Book', class:"btn btn-success mt-2" %>
    <% end %>
  </div>
</div>